body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

nav{
    background-image: linear-gradient(to left bottom, #051937, #352755, #6b3169, #a2396f, #d44968);
}

nav .a1{
    color:white;
    font-weight:bold;   
   
    margin-left: 1em;
   

}
nav .a1:hover
{
    border-bottom:2px solid white;
    border-bottom-width: 2px;
    /* transition:1000ms border; */
}

.btn1
{
    background:deeppink;
}
.badge
{
    background:yellow;
    margin-top:-1em;color:black;
}
.logo
{
    width: 13em;
    height: 4em;
    object-fit: contain;

}

 .row   .card {
    background:pink;
    text-align:center;
    border-radius:1em;
    width:17em;padding:1em;
}

footer {
    background-image: linear-gradient(to left bottom, #380423, #2d0a24, #220c22, #190c1e, #110b18, #130d1f, #120f26, #0f122d, #0d1646, #0d1960, #14197a, #241693);
    padding:1em;
}
.footer1 ul
{
	display: flex;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.footer1 ul li
{
	list-style: none;
}
.footer1{
	padding-top: 11em;
}
.footer1 ul li a
{
	width: 67px;
height: 67px;
background: #fff;
text-align: center;
line-height: 143px;
font-size: 35px;
margin: .3em;
display: block;
border-radius: 50%;
position: relative;
overflow: hidden;
border: 3px solid #fff;
z-index: 1;
padding-top: .4em;
}
.footer1 ul li a .fa
{
	position: relative;
	color: #262626;
	transition: .5s;
	z-index: 3;
}	
.footer1 ul li a:hover .fa
{
	color:#fff;
	transform: rotate(360deg);
}
.footer1 ul li a:before
{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
	z-index: 2;
}
.footer1 ul li a:hover:before
{
	top: 0;
}
.footer1 ul li:nth-child(1) a:before
{
	background: #3b5999;
}
.footer1 ul li:nth-child(2) a:before
{ 
	background: #55acee;
}
.footer1 ul li:nth-child(3) a:before
{
	background: #dd4b39;
}
.footer1 ul li:nth-child(4) a:before
{
	background: #e4405f;
}
.footer1 ul li:nth-child(5) a:before
{
	background: #0077B5;
}

footer a {
    color: #f8f9fa!important
}
#container
{
    background:url("../img/car1.jpg");
    background-size:cover;
   
}
.login-form
{
    
    position: relative;
    margin-left:25em;
    width: 30em;
    padding: 9em;
    z-index:1;
}
.login-form h3
{
    color:white;
    margin-top:-1em;
    font-family: 'forte';
}
.login-form p{
    text-align:left;
    color:rgb(12, 224, 224);
}
.login-form::before{
    content:"";
    position:absolute;
    background:black;
    top:1%;
    left:1%;
    bottom:1%;
    opacity:.8;
    right:1%;
    z-index:-1;
}
.login-form::after{
    content:"";
    background:none;
    border:1px solid white;
    top:7%;
    left:10%;
    right:10%;
    bottom:7%;
    position:absolute;
    z-index:-1;
}
/*add-product page*/
.form-control
{
    width: 20em !important;
}
.reg-form
{
    position: relative;
    margin-left:19em;
    width: 40em;
    padding: 9em;
    z-index:1; 
    color:#02fcfc;
    font-weight:bold;
    line-height:2.5;
}
.reg-form::before{
    content:"";
    position:absolute;
    background:black;
    top:1%;
    left:1%;
    bottom:1%;
    opacity:.8;
    right:1%;
    z-index:-1;
}
.reg-form::after{
    content:"";
    background:none;
    border:1px solid white;
    top:7%;
    left:10%;
    right:10%;
    bottom:7%;
    position:absolute;
    z-index:-1;
}
#container1
{
    background:url("../img/car1.jpg");
    background-size:cover;
    padding:3em;  
}
.reg-form h3
{
    color:white;
    margin-top:-2em;
    font-family: 'forte';
    text-align: center;
}
.reg-form .btn1{
   background:#08ccdb;
  width:5em;
   color:indigo;

}
/*product page*/
.btn-primary {
    color: #fff !important;
    background-color: #19e0b5 !important;
    border-color: #007bff1a !important;
}
.product-grid4
{
    font-family:Poppins,sans-serif;
    text-align:center;
    border-radius:5px;
    overflow:hidden;
    z-index:1;
    transition:all .3s ease 0s;
    box-shadow: 1px 1px 16px 5px #ef6ab580;
}
.product-grid4:hover
{
    box-shadow:0 0 10px rgba(0,0,0,.2);
}
.product-grid4 .product-image4 a
{
    display:block;
}
.product-grid4 .product-image4 img
{
    width:100%;
    height:auto;
}
.product-grid4 .imge1
{
    opacity:1;
    transition:all .5s ease-out 0s;
}
/* .product-grid4:hover .imge1
{
	opacity:1;
	
} */
/* .product-grid4 .pic-2 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .5s ease-out 0s
} */
/* .product-grid4:hover .pic-2 {
	opacity: 1
} */
.product-grid4 .social {
	width: 180px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s ease 0s
}
.product-grid4 .social li {
	display: inline-block;
	opacity: 0;
	transition: all .7s
}
.product-grid4 .social li:nth-child(1) {
	transition-delay: .15s
}
.product-grid4 .social li:nth-child(2) {
	transition-delay: .3s
}
.product-grid4 .social li:nth-child(3) {
	transition-delay: .45s
}
.product-grid4:hover .social li {
	opacity: 1
}
.product-grid4 .social li a {
	color: #222;
	background: #fff;
	font-size: 17px;
	line-height: 36px;
	width: 40px;
	height: 36px;
	border-radius: 2px;
	margin: 0 5px;
	display: block;
	transition: all .3s ease 0s
}
.product-grid4 .social li a:hover {
	color: #fff;
	background: #16a085
}
.product-grid4 .social li a:after,
.product-grid4 .social li a:before {
	content: attr(data-tip);
	color: #fff;
	background-color: #000;
	font-size: 12px;
	line-height: 20px;
	border-radius: 3px;
	padding: 0 5px;
	white-space: nowrap;
	opacity: 0;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: -30px
}
.product-grid4 .social li a:after {
	content: '';
	height: 15px;
	width: 15px;
	border-radius: 0;
	transform: translateX(-50%) rotate(45deg);
	top: -22px;
	z-index: -1
}
.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before {
	opacity: 1
}
.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
	color: #fff;
	background-color: #16a085;
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 45px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	position: absolute;
	left: 25px;
	top: 15px;
	transition: all .3s
}
.product-grid4 .product-discount-label {
	left: auto;
	right: 25px;
	background-color: #d7292a
}
.product-grid4:hover .product-new-label {
	opacity: 0
}
.product-grid4 .product-content {
	padding: 25px
}
.product-grid4 .title {
	font-size: 15px;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 7px;
	transition: all .3s ease 0s
}
.product-grid4 .title a {
	color: #222
}
.product-grid4 .title a:hover {
	color: #16a085
}
.product-grid4 .price {
	color: #16a085;
	font-size: 17px;
	font-weight: 700;
	margin: 0 2px 15px 0;
	display: block
}
.product-grid4 .price span {
	color: #909090;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0;
	text-decoration: line-through;
	text-align: left;
	vertical-align: middle;
	display: inline-block
}
.product-grid4 .add-to-cart {
	border: 1px solid #e5e5e5;
	display: inline-block;
	padding: 10px 20px;
	color: #FFF;
	font-weight: 600;
    font-size: 14px;
    background: #16a085;
	border-radius: 4px;
	transition: all .3s
}
.product-grid4:hover .add-to-cart {
	border: 1px solid transparent;
	background:rgb(228, 47, 111);
	color: #fff
}
.product-grid4 .add-to-cart:hover {

	box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}
@media only screen and (max-width: 990px) {
	.product-grid4 {
		margin-bottom: 30px
	}
}
/*viewpage */
.panel{
	background: #d1d1d1;
	
	background-size:cover;
}
#divToPrint
{
	background:white;
	padding: 1em;
	
	border-radius: 1em;
	
	transform: rotate(360deg);
	
	color: indigo;
	box-shadow:3px 3px 3px 3px grey;
	font-family: forte;
}
#divToPrint .imge1
{
	box-shadow:3px 3px 3px 3px grey;
}